/* ==============
    Colors
=============== */
/*  Primary  */
/*---- Text -----*/
/*---- Gradient ----*/
/*  Neutral  */
/*---- Text ----*/
/*---- Dividers ----*/
/* ==============
    Typography
=============== */
/*  Body Copy  */
/*  Font  */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*  Main  */
.container {
  min-height: 100vh;
  background-image: linear-gradient(180deg, #af67e9, #6565e7);
  padding: 10rem 2rem;
}
@media (min-width: 1020px) {
  .container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.card {
  font-family: "Kumbh Sans", sans-serif;
  color: #787887;
  font-size: 0.75rem;
  border-radius: 20px;
  background-color: #fff;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1020px) {
  .card {
    flex-direction: row;
    align-items: stretch;
    padding: 0;
  }
}

.images {
  position: relative;
  flex-basis: 50%;
  align-self: center;
  background-image: url("../assets/images/bg-pattern-mobile.svg");
  background-position: center top;
  background-repeat: no-repeat;
}
@media (min-width: 1020px) {
  .images {
    height: 100%;
    align-self: stretch;
    background-image: url("../assets/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left -4vw center 10vh;
  }
}

.box {
  display: none;
}
@media (min-width: 1020px) {
  .box {
    display: block;
    width: 10rem;
    position: absolute;
    top: 43%;
    left: -16%;
    z-index: 4;
  }
}

@media (min-width: 1020px) {
  .images div {
    overflow: hidden;
  }
}

.images .woman {
  position: relative;
  width: 82%;
  top: -6.5rem;
  left: 2rem;
}
@media (min-width: 1020px) {
  .images .woman {
    top: 2rem;
    left: -4rem;
    width: 100%;
  }
}

.images .bg-pattern {
  position: relative;
}
@media (min-width: 1020px) {
  .images .bg-pattern {
    top: 2rem;
    left: -8rem;
  }
}

/*  faq section  */
.faq {
  flex-basis: 50%;
  padding: 0 0 2.5rem;
}
@media (min-width: 1020px) {
  .faq {
    padding: 3.5rem;
  }
}

.faq h1 {
  font-size: 1.5rem;
  color: #1d1e35;
  font-weight: 700;
  text-align: center;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-style: solid;
  border-color: rgba(120, 120, 135, 0.3);
  border-width: 0 0 1px 0;
}

.question-1,
.question-2,
.question-3,
.question-4,
.question-5 {
  font-size: 1rem;
  font-weight: 400;
}
.question-1:active, .question-1:hover,
.question-2:active,
.question-2:hover,
.question-3:active,
.question-3:hover,
.question-4:active,
.question-4:hover,
.question-5:active,
.question-5:hover {
  color: #f47c57;
  cursor: pointer;
}

.question img {
  display: inline;
  width: 5%;
  height: 5%;
  transition: all 0.2s ease-in;
}

.answer {
  margin-top: 0.5rem;
  display: none;
  transition: all 2s ease-in-out;
}

/* Classes for JS */
.show {
  display: block;
}

.animation {
  transform: rotate(180deg);
}

.typo-theme {
  color: #787887;
  font-weight: 700;
}

/*# sourceMappingURL=index.css.map */
