/* ==============
    Colors
=============== */


/*  Primary  */


/*---- Text -----*/

$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

/*---- Gradient ----*/

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

/*  Neutral  */


/*---- Text ----*/

$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

/*---- Dividers ----*/

$light-grayish-blue: hsl(240, 5%, 91%);

/* ==============
    Typography
=============== */


/*  Body Copy  */

$font-size: 0.75rem;

/*  Font  */

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$font-family: "Kumbh Sans",
sans-serif;
$fw-400: 400;
$fw-700: 700;

/*  Main  */

.container {
    min-height: 100vh;
    background-image: linear-gradient(180deg, $soft-violet, $soft-blue);
    padding: 10rem 2rem;
    @media (min-width: 992px) {
        padding: {
            left: 8rem;
            right: 8rem;
        }
    }
}

.card {
    font-family: $font-family;
    color: $dark-grayish-blue;
    font-size: $font-size;
    border-radius: 20px;
    background-color: #fff;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 992px) {
        flex-direction: row;
        padding: 0;
    }
}

.images {
    position: relative;
    flex-basis: 60%;
    align-self: center;
    background-image: url("../assets/images/bg-pattern-mobile.svg");
    background-position: center top;
    background-repeat: no-repeat;
    @media (min-width: 992px) {
        background-image: url("../assets/images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: left 30vw top 30vh;
    }
}

.images .woman {
    position: relative;
    // position: absolute;
    // left: 0;
    // top: 0;
    @media (min-width: 992px) {
        position: absolute;
        top: -8rem;
        left: -7rem;
    }
}

.images .bg-pattern {
    position: relative;
    @media (min-width: 992px) {
        top: 2rem;
        left: -8rem;
    }
}


/*  faq section  */

.faq {
    flex-basis: 60%;
    padding: 1.5rem 0 2.5rem;
    @media (min-width: 992px) {
        padding: 3.5rem;
    }
}

.faq h1 {
    font-size: 1.5rem;
    color: $very-dark-desaturated-blue;
    font-weight: $fw-700;
    text-align: center;
}

.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-style: solid;
    border-color: rgba($dark-grayish-blue, 0.3);
    border-width: 0 0 1px 0;
}

.question h2 {
    font-size: 1rem;
    font-weight: $fw-400;
}

.question img {
    display: inline;
    width: 5%;
    height: 5%;
    transition: all 0.2s ease-in;
}

.answer {
    display: none;
    transition: all 2s ease-in-out;
}


/* Classes for JS */

.show {
    display: inline-block;
}

.animation {
    transform: rotate(180deg);
}